* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background: url(../relogio.jpeg) #343536;
    background-size: cover;

    background-attachment: fixed;
    background-position: relative;

    color: #fff;
    font-size: 16px;
}

.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    z-index: 1;
}

.widget {
    width: 80%;
    margin: 10%;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.fecha {
    font-family: 'Oswald', Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(22, 14, 87, 0.5);
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family: 'Oswald', Arial;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(22, 14, 87, 0.5);
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .am_pm {
    font-size: 2rem;
    display: block;
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .wrap {
        width: 100%;
    }

    .widget {
        width: 70%;
        margin: 50% 15%;
    }

    .fecha {
        font-size: 32px;
        display: inline-block;
    }

    .reloj {
        font-size: 48px;
    }

    .reloj .am_pm,
    .reloj .segundos {
        font-size: 24px;
    }

}